%define _upstream_name {{ name }}
%define _name          {{ name|lower }}
%define version        {{ version }}
%define __python       /usr/bin/python3
%{!?python_sitelib: %global python_sitelib %(%{__python} -c "from distutils.sysconfig import get_python_lib; print (get_python_lib())")}
%{!?python_sitelib: %global python_sitelib %(%{__python} -c "from distutils.sysconfig import get_python_lib; print (get_python_lib())")}
%{!?python_dir: %global python_dir %(readlink -f %{python_sitelib}/../../../.)}
%{!?python_bindir: %global python_bindir %(readlink -f %{python_dir}/bin)}
%{!?python_libdir: %global python_libdir %(readlink -f %{python_dir}/lib)}
%{!?python_share: %global python_share %(readlink -f %{python_dir}/share)}
%{!?python_mandir: %global python_mandir %(readlink -f %{python_share}/man)}

%if 0%{?PYTHON_VERSION} >= 3
%global _python3 1
%else
%global _python3 0
%endif

Summary: {{ summary }}
Name: {{ python_prefix }}-%{_name}
Version: %{version}
Release: 1%{?dist}
Source0: {{ source }}
License: {{ license }}
Group: Development/Libraries
BuildRoot: %{_tmppath}/%{_name}-%{version}-%{release}-buildroot
Prefix: %{_prefix}
BuildArch: noarch
Vendor: {{ author }}
Url: {{ url }}
Requires: {{ python_prefix }}
{% for requirement in requires -%}
Requires: {{ python_prefix }}-{{requirement}}
{% endfor -%}
BuildRequires: {{ python_prefix }}
{% for requirement in requires -%}
BuildRequires: {{ python_prefix }}-{{requirement}}
{% endfor -%}
BuildRequires: {{ python_prefix }}-devel
BuildRequires: {{ python_prefix }}-setuptools

%description
{{ description }}

%prep
%setup -qn %{_upstream_name}-%{version}

%build
export LDFLAGS="-L%{python_libdir}"
export CFLAGS="$RPM_OPT_FLAGS"
%{__python} setup.py build

%install
{% if single_version_externally_managed == True -%}
%{__python} setup.py install -O1 --single-version-externally-managed --root=$RPM_BUILD_ROOT
{% else -%}
%{__python} setup.py install -O1 --root=$RPM_BUILD_ROOT
{% endif %}

%clean
rm -rf $RPM_BUILD_ROOT

%files
%defattr(-,root,root)
%{python_sitelib}
{% if has_bin == True -%}
%{python_bindir}
{% endif %}

%changelog
* {{ date }} {{ me }}  <{{ email }}> - {{ version }}-1
- Initial Release

